CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_DEVICE_tl-wr1043nd-v1=y

CONFIG_BUSYBOX=y
CONFIG_DROPBEAR=y
CONFIG_UBUS=y
CONFIG_UBUSD=y
CONFIG_UCI=y

CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_wpad-basic-wolfssl=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_swconfig=y

# Explicit removals
# CONFIG_PACKAGE_luci is not set
# CONFIG_PACKAGE_uhttpd is not set
# CONFIG_PACKAGE_firewall is not set
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_odhcpd is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_ip6tables is not set
# CONFIG_PACKAGE_iptables is not set
