name: OpenWrt Minimal AP (WR1043ND v1)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout your repo
      uses: actions/checkout@v4

    - name: Checkout OpenWrt
      uses: actions/checkout@v4
      with:
        repository: openwrt/openwrt
        ref: v19.07.10
        path: openwrt

    - name: List repo files
      run: ls -R configs

    - name: Apply OpenWrt config
      working-directory: openwrt
      run: |
        cp ../configs/openwrt.config .config
        make defconfig

    - name: Install build dependencies
      run: |
        sudo apt update
        sudo apt install -y python2 build-essential flex bison gawk gettext \
        libncurses-dev libssl-dev python3 python3-distutils python3-setuptools \
        python-is-python3 rsync unzip file wget
        sudo ln -sf /usr/bin/python2 /usr/bin/python


    - name: Update feeds
      working-directory: openwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Apply kernel trimming
      working-directory: openwrt
      run: |
        cat ../kernel/ar71xx-minimal-kernel.conf >> target/linux/ar71xx/config-4.14

    - name: Build firmware
      working-directory: openwrt
      run: |
        make -j$(nproc)

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-wr1043nd-v1-minimal
        path: openwrt/bin/targets/ar71xx/generic/*.bin
